* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-wrapper {
  margin: 20px;
  perspective: 1000px;
}
.card {
  width: 300px;
  height: 350px;
  background-color: #f29720;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.65);
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.front {
  width: 100%;
}
.back {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.card-wrapper:hover .card {
  transform: rotateY(180deg);
}
.card-one,
.card-two,
.card-three {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-one {
  background-image: url("https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDYyfHRvd0paRnNrcEdnfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.card-two {
  background-image: url("https://images.unsplash.com/photo-1611867416365-f636328625fa?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDgwfHRvd0paRnNrcEdnfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.card-three {
  background-image: url("https://images.unsplash.com/photo-1612018887922-fa838e8b3c79?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDg4fHRvd0paRnNrcEdnfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
